<%# 
  이부분은 댓글을 표시할 때 사용하는 포맷이다. 하지만 사용되지 않는다.
%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>User:</strong>
  <% if @comment.user.nil? %>
 	 <%= @comment.user %>
  <% else %>
  	 익명
  <% end %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
