<%# 전체 목록을 보여주는 기본 페이지이다.
     %>

<table class="table table-striped">
	<thead>
          <tr>
            <th>글번호</th>
            <th>제목/글쓴이</th>
            <th class="text-center">조회 수</th>
            <th class="text-center">좋아요/싫어요</th>
            <th>마지막 댓글</th>
          </tr>
    </thead>
    <tbody>
    	<% @posts.each do |post| %>
    		<tr>
                <%# 글의 고유 번호 %>
                <td><%= post.id %></td>
                <%# 글의 제목/총 댓글 수/글쓴이/최근 수정 시간 + 전, 생성 날짜%>
    			<td>
                    <%= link_to post.title, post %> <span class="badge"><%= post.comments.count %></span><br>
                    <small><strong><%= post.user.name %></strong>  (<%= time_ago_in_words(post.updated_at) %> 전, <%= post.created_at.to_date %>)</small>
                </td>
                <%# 조회수가 30이상이면, 조회수가 주황색으로 표시된다. 아니면, 그냥 표현된다. %>
    			<% if post.hits >= 30 %>
                    <td class="over-thirty text-center text-ver-center"><%= post.hits %></td>
                <% else %>
                    <td class="text-center text-ver-center"><%= post.hits %></td>
                <% end %>
                <%# (좋아요/싫어요) %>
                <td class="text-center text-ver-center"><span class="label-good"><%= post.get_upvotes.size %></span>/<span class="label-bad"><%= post.get_downvotes.size %></span></td>
                <% if post.comments.empty? %>
                    <td></td>
                <%# 가장 마지막으로 댓글을 쓴 사람에 대한 시간과 이름 정보 %>
                <% else %>
                    <td class= "text-ver-center">
                        <%= time_ago_in_words(post.comments.last.updated_at) %> 전, <strong><%= post.comments.last.user.name %></strong>
                    </td>
                <% end %>
    		</tr>
    	<% end %>
    </tbody>
</table>
<%# Bootstrap 디자인으로 페이지네이션 기능을 지원합니다. %>
<div class="text-center"><%= will_paginate @posts, renderer: BootstrapPagination::Rails %></div>
